In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# Bài 4.1
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

ser_list = pd.Series(mylist)
ser_arr = pd.Series(myarr)
ser_dict = pd.Series(mydict)

print("Đã tạo xong 3 series.")

Đã tạo xong 3 series.

In [5]:
# Bài 4.2
ser = pd.Series(mydict)
df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

In [6]:
# Bài 4.3
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

df_combined = pd.concat([ser1, ser2], axis=1)
print(df_combined.head())

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

In [7]:
# Bài 4.4
ser1.name = 'alphabets'
ser2.name = 'numbers'
print(f"Tên ser1: {ser1.name}, Tên ser2: {ser2.name}")

Tên ser1: alphabets, Tên ser2: numbers

In [8]:
# Bài 4.5
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ket_qua = ser1[~ser1.isin(ser2)]
print(ket_qua)

0    1
1    2
2    3
dtype: int64

In [9]:
# Bài 4.6
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser_u = pd.Series(np.union1d(ser1, ser2)) # Hợp
ser_i = pd.Series(np.intersect1d(ser1, ser2)) # Giao
ket_qua = ser_u[~ser_u.isin(ser_i)]
print(ket_qua)

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [10]:
# Bài 4.7
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))

# Cách 1: Dùng describe
print(ser.describe())

# Cách 2: Dùng numpy percentile
print(np.percentile(ser, q=[0, 25, 50, 75, 100]))

# Bài 4.8
np.random.seed(10)
ser = pd.Series(np.random.randint(1, 5, [12]))
print("Gốc:", ser.values)

top_2 = ser.value_counts().index[:2]
ser[~ser.isin(top_2)] = 'Other'
print("Kết quả:\n", ser)

# Bài 4.9
ser = pd.Series(np.random.random(20))
ser_deciles = pd.qcut(ser, q=10, labels=False)
print(ser_deciles)

# Bài 4.10
ser = pd.Series(np.random.randint(1, 10, 35))
df = pd.DataFrame(ser.values.reshape(7, 5))
print(df)

# Bài 4.11
ser = pd.Series(np.random.randint(1, 10, 7))
print("Series:", ser.values)

vi_tri = np.argwhere(ser.values % 3 == 0)
print("Vị trí bội số của 3:", vi_tri.flatten())

# Bài 4.12
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

ket_qua = ser.take(pos)
print(ket_qua)

# Bài 4.13
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

# Dọc
doc = pd.concat([ser1, ser2], axis=0)
# Ngang
ngang = pd.concat([ser1, ser2], axis=1)

print("Dọc:\n", doc.head())
print("Ngang:\n", ngang.head())

# Bài 4.14
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

# Tìm vị trí (index) trong ser1
vi_tri = [pd.Index(ser1).get_loc(i) for i in ser2]
print("Vị trí:", vi_tri)

# Bài 4.15
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

mse = np.mean((truth - pred)**2)
print("MSE =", mse)

# Bài 4.16
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
# Dùng hàm title() hoặc capitalize()
ket_qua = ser.map(lambda x: x.title())
print(ket_qua)

# Bài 4.17 (Đếm ký tự)
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
do_dai = ser.map(len)
print(do_dai)

# Bài 4.18
import re
emails = pd.Series(['buying books at amazon.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern = r'[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}'

valid_emails = emails.str.findall(pattern, flags=re.IGNORECASE)
print([x[0] for x in valid_emails if x])

# Bài 4.19
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))

mean_weights = weights.groupby(fruit).mean()
print(mean_weights)

# Bài 4.20
# Load dữ liệu
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv"
euro12 = pd.read_csv(url)

# 1. In cột Goals
print("1. Goals:", euro12['Goals'].head().tolist())

# 2. Số đội tham gia
print("2. Số đội:", euro12.shape[0])

# 3. Thông tin cột
print("3. Số cột:", euro12.shape[1])

# 4. Tạo DF discipline
discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]

# 5. Sắp xếp giảm dần
discipline = discipline.sort_values(['Red Cards', 'Yellow Cards'], ascending=False)
print("5. Top thẻ phạt:\n", discipline.head(3))

# 6. Trung bình thẻ vàng
print("6. TB thẻ vàng:", discipline['Yellow Cards'].mean())

# 7. Đội > 6 bàn thắng
print("7. Đội > 6 bàn:", euro12[euro12.Goals > 6].Team.tolist())

# 8. Đội bắt đầu bằng 'G'
print("8. Đội tên G:", euro12[euro12.Team.str.startswith('G')].Team.tolist())

# 9. 7 cột đầu
print("9. 7 cột đầu:\n", euro12.iloc[:, :7].head(2))

# 10. Trừ 3 cột cuối
print("10. Trừ 3 cột cuối:\n", euro12.iloc[:, :-3].head(2))

# 11. Các cột cụ thể của Eng, Ita, Rus
target = euro12.loc[euro12.Team.isin(['England', 'Italy', 'Russia']), ['Team', 'Shooting Accuracy']]
print("11. Shooting Accuracy:\n", target)

# Bài 4.21
# Load dữ liệu
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"
drink = pd.read_csv(url)

# 1. Type và Shape
print(f"1. Type: {type(drink)}, Shape: {drink.shape}")

# 2. Bia trung bình mỗi châu lục
print("2. Bia TB:\n", drink.groupby('continent')['beer_servings'].mean())

# 3. Thống kê rượu vang
print("3. Stats Wine:\n", drink.groupby('continent')['wine_servings'].describe())

# 4. Trung bình tất cả các cột
print("4. Mean All:\n", drink.groupby('continent').mean(numeric_only=True))

# 5. Trung vị
print("5. Median:\n", drink.groupby('continent').median(numeric_only=True))

# 6. Rượu mạnh (mean, max, min)
print("6. Spirit Stats:\n", drink.groupby('continent')['spirit_servings'].agg(['mean', 'max', 'min']))

# 7. 5 quốc gia tiêu thụ bia nhiều nhất
print("7. Top 5 Beer:\n", drink.sort_values('beer_servings', ascending=False).head(5)[['country', 'beer_servings']])

# 7. 5 quốc gia tiêu thụ bia ít nhất
print("7. Bottom 5 Beer:\n", drink.sort_values('beer_servings', ascending=True).head(5)[['country', 'beer_servings']])

count    25.000000
mean     10.435437
std       4.253118
min       1.251173
25%       7.709865
50%      10.922593
75%      13.363604
max      18.094908
dtype: float64
[ 1.25117263  7.70986507 10.92259345 13.36360403 18.0949083 ]
Gốc: [2 2 1 4 1 2 4 1 2 2 1 2]
Kết quả:
 0         2
1         2
2         1
3     Other
4         1
5         2
6     Other
7         1
8         2
9         2
10        1
11        2
dtype: object
0     2
1     8
2     1
3     0
4     6
5     9
6     0
7     4
8     8
9     5
10    7
11    2
12    9
13    7
14    5
15    1
16    3
17    6
18    4
19    3
dtype: int64
   0  1  2  3  4
0  5  3  7  8  9
1  9  3  1  7  8
2  9  2  8  2  5
3  1  9  6  5  8
4  9  9  3  7  3
5  9  9  7  7  6
6  7  1  1  7  2
Series: [9 2 3 9 6 1 3]
Vị trí bội số của 3: [0 2 3 4 6]
0     a
4     e
8     i
14    o
20    u
dtype: object
Dọc:
 0    0
1    1
2    2
3    3
4    4
dtype: object
Ngang:
    0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e
Vị trí: [5, 4, 0, 8]
MSE = 0.11509250962962567
0     How
1      To
2    Kick
3    Ass?
dtype: object
0    3
1    2
2    4
3    4
dtype: int64
['rameses@egypt.com', 'matt@t.co', 'narendra@modi.com']
apple     4.500000
banana    5.200000
carrot    6.666667
dtype: float64

C:\Users\Admin\AppData\Local\Temp\ipykernel_22436\157737772.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Other' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  ser[~ser.isin(top_2)] = 'Other'

1. Goals: [4, 4, 4, 5, 3]
2. Số đội: 16
3. Số cột: 35
5. Top thẻ phạt:
                    Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
6. TB thẻ vàng: 7.4375
7. Đội > 6 bàn: ['Germany', 'Spain']
8. Đội tên G: ['Germany', 'Greece']
9. 7 cột đầu:
              Team  Goals  Shots on target  Shots off target Shooting Accuracy  \
0         Croatia      4               13                12             51.9%
1  Czech Republic      4               13                18             41.9%

  % Goals-to-shots  Total shots (inc. Blocked)
0            16.0%                          32
1            12.9%                          39
10. Trừ 3 cột cuối:
              Team  Goals  Shots on target  Shots off target Shooting Accuracy  \
0         Croatia      4               13                12             51.9%
1  Czech Republic      4               13                18             41.9%

  % Goals-to-shots  Total shots (inc. Blocked)  Hit Woodwork  Penalty goals  \
0            16.0%                          32             0              0
1            12.9%                          39             0              0

   Penalties not scored  ...  Clean Sheets  Blocks  Goals conceded Saves made  \
0                     0  ...             0      10               3         13
1                     0  ...             1      10               6          9

   Saves-to-shots ratio  Fouls Won  Fouls Conceded  Offsides  Yellow Cards  \
0                 81.3%         41              62         2             9
1                 60.1%         53              73         8             7

   Red Cards
0          0
1          0

[2 rows x 32 columns]
11. Shooting Accuracy:
        Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%
1. Type: <class 'pandas.core.frame.DataFrame'>, Shape: (193, 6)
2. Bia TB:
 continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64
3. Stats Wine:
            count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0
4. Mean All:
            beer_servings  spirit_servings  wine_servings  \
continent
AF             61.471698        16.339623      16.264151
AS             37.045455        60.840909       9.068182
EU            193.777778       132.555556     142.222222
OC             89.687500        58.437500      35.625000
SA            175.083333       114.750000      62.416667

           total_litres_of_pure_alcohol
continent
AF                             3.007547
AS                             2.170455
EU                             8.617778
OC                             3.381250
SA                             6.308333
5. Median:
            beer_servings  spirit_servings  wine_servings  \
continent
AF                  32.0              3.0            2.0
AS                  17.5             16.0            1.0
EU                 219.0            122.0          128.0
OC                  52.5             37.0            8.5
SA                 162.5            108.5           12.0

           total_litres_of_pure_alcohol
continent
AF                                 2.30
AS                                 1.20
EU                                10.00
OC                                 1.75
SA                                 6.85
6. Spirit Stats:
                  mean  max  min
continent
AF          16.339623  152    0
AS          60.840909  326    0
EU         132.555556  373    0
OC          58.437500  254    0
SA         114.750000  302   25
7. Top 5 Beer:
             country  beer_servings
117         Namibia            376
45   Czech Republic            361
62            Gabon            347
65          Germany            346
98        Lithuania            343
7. Bottom 5 Beer:
           country  beer_servings
0     Afghanistan              0
13     Bangladesh              0
40   Cook Islands              0
46    North Korea              0
111        Monaco              0